<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<th:block th:replace="fragments/header :: header"></th:block>
<div class="container">
    <h2>Admin</h2>
    <hr>
    <div class="row">
        <div class="col">
            <th:block th:replace="fragments/adminMenu :: adminMenu">admin menu here</th:block>
        </div>
        <div class="col-9">
            <p>
            <h2>Edit League</h2>
            </p>
            <hr>
            <form autocomplete="off" action="#" th:action="@{/admin/leagues/edit/}"
                  th:object="${league}" method="post" class="form-horizontal"
                  role="form">
                <input type="hidden" th:field="*{leagueId}" />
                <div class="form-group">
                    <label for="inputLeagueLabel">League Name</label>
                    <input type="text" th:field="*{label}" placeholder="Name"
                           class="form-control" id="inputLeagueLabel" />
                    <label th:if="${#fields.hasErrors('label')}" th:errors="*{label}"
                           class="text-danger"></label>
                </div>
                <div class="form-group">
                    <label for="inputLeagueDescription">League Description</label>
                    <input type="text" th:field="*{description}" placeholder="Description"
                           class="form-control" id="inputLeagueDescription" />
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           class="text-danger"></label>
                </div>
                <div class="form-group">
                    <label for="inputTypeId">League Type</label>
                    <select class="form-control" th:field="${league.leagueType}"  id="inputTypeId">
                        <option value="">Select League Type</option>
                        <option th:each="leagueType : ${leagueTypes}" th:value="${leagueType.typeId}" th:text="${leagueType.label}"></option>
                    </select>
                    <label th:if="${#fields.hasErrors('leagueType')}" th:errors="*{leagueType}"
                           class="text-danger"></label>
                </div>
                <hr>
                <div class="btn-toolbar float-right">
                    <button type="submit" name="action" class="btn btn-link" value="cancel">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
