<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<th:block th:replace="fragments/header :: header"></th:block>
<div class="container">
    <h2>Admin</h2>
    <hr>
    <div class="row">
        <div class="col">
            <th:block th:replace="fragments/adminMenu :: adminMenu">admin menu here</th:block>
        </div>
        <div class="col-9">
            <h4>Edit Team</h4>
            <p></p>
            <hr>
            <form autocomplete="off" action="#" th:action="@{/admin/teams/edit/}"
                  th:object="${team}" method="post" class="form-horizontal"
                  role="form">

                <input type="hidden" th:field="*{teamId}" />
                <div class="form-group">
                    <label for="inputLeague">League</label>
                    <select class="form-control" th:field="*{league}"  id="inputLeague">
                        <option value="">Select League</option>
                        <option th:each="leagueObj : ${leagueList}" th:value="${leagueObj.leagueId}" th:text="${leagueObj.label}"></option>
                    </select>
                    <label th:if="${#fields.hasErrors('league')}" th:errors="*{league}"
                           class="text-danger"></label>
                </div>

                <div class="form-group">
                    <label for="inputTeamName">Team Name</label>
                    <input type="text" th:field="*{name}" placeholder="Name"
                           class="form-control" id="inputTeamName" />
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="text-danger"></label>
                </div>

                <div class="form-group">
                    <label for="inputTeamDescription">Team Description</label>
                    <input type="text" th:field="*{description}" placeholder="Description"
                           class="form-control" id="inputTeamDescription" />
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                           class="text-danger"></label>
                </div>

                <div class="form-group">
                    <label for="inputYearFormed">Year Formed</label>
                    <select class="form-control" th:field="*{yearFormed}"  id="inputYearFormed">
                        <option value="">Select Year Formed</option>
                        <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
                    </select>
                    <label th:if="${#fields.hasErrors('yearFormed')}" th:errors="*{yearFormed}"
                           class="text-danger"></label>
                </div>

                <hr>
                <div class="btn-toolbar float-right">
                    <button type="submit" name="action" class="btn btn-link" value="cancel">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
