<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<th:block th:replace="fragments/header :: header"></th:block>
<div class="container">
    <h2>Admin</h2>
    <hr>
    <div class="row">
        <div class="col">
            <th:block th:replace="fragments/adminMenu :: adminMenu"></th:block>
        </div>
        <div class="col-9">
            <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}"></div>
            <div class="btn-toolbar float-right">
                <form th:action="@{/admin/teams/add}" method="get">
                    <button class="btn btn-primary" type="Submit">Add New</button>
                </form>
            </div>
            <h4>Teams</h4>
            <p></p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Year Formed</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team: ${teams}" th:attr="id=${team.id}">
                    <td><b th:text="${team.name}"></b></td>
                    <td th:text="${team.description}"></td>
                    <td th:text="${team.yearFormed}"></td>
                    <td><a th:href="@{/admin/teams/edit/} + ${team.id}" th:text="Edit"></a> | <a th:href="@{/admin/teams/archive/} + ${team.id}" th:text="Archive"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
