<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<th:block th:replace="fragments/header :: header"></th:block>
<div class="container">
    <h2>Admin</h2>
    <hr>
    <div class="row">
        <div class="col">
            <th:block th:replace="fragments/adminMenu :: adminMenu"></th:block>
        </div>
        <div class="col-9">
            <div class="alert alert-success" role="alert" th:if="${successMessage}" th:text="${successMessage}"></div>
            <div class="btn-toolbar float-right">
                <form th:action="@{/admin/users/add}" method="get">
                    <button class="btn btn-primary" type="Submit">Add New</button>
                </form>
            </div>
            <h4>Users</h4>
            <p></p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${users}" th:attr="id=${user.id}">
                        <td><b th:text="${user.firstName} + ' ' + ${user.lastName}"></b></td>
                        <td th:text="${user.email}"></td>
                        <td>
                           <span th:each="role: ${user.roles}" th:text="${role.role} + ' '"></span>
                        </td>
                        <td><a th:href="@{/admin/users/edit/} + ${user.id}" th:text="Edit"></a> | <a th:href="@{/admin/users/deactivate/} + ${user.id}" th:text="Deactivate"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>
