<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" th:fragment="header">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">SportsWeb</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:classappend="${#httpServletRequest.getServletPath().equals('/')} ? active : inactive">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/leagues}" th:classappend="${#httpServletRequest.getServletPath().contains('/leagues')} ? active : inactive">Leagues</a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" th:href="@{/schedules}" th:classappend="${#httpServletRequest.getServletPath().contains('/schedules')} ? active : inactive">Schedules</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}" th:classappend="${#httpServletRequest.getServletPath().contains('/about')} ? active : inactive">About</a>
                    </li>
                </ul>
                <!-- If user is logged in, show logout button -->
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item" sec:authorize-url="/admin/index">
                        <a class="nav-link"  th:href="@{/admin/index/}" th:classappend="${#httpServletRequest.getServletPath().contains('/admin/index/')} ? active : inactive">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{/admin/profile/}" th:classappend="${#httpServletRequest.getServletPath().contains('/profile')} ? active : inactive" th:text="${authUserName}"></a>
                    </li>
                    <li class="nav-item" th:if="${user}">
                        <form class="navbar-form" th:action="@{/logout}" method="get">
                            <button class="btn btn-md btn-danger btn-block" name="registration"
                                    type="Submit">Logout</button>
                        </form>
                    </li>
                    <li th:unless="${user}">
                        <!-- If user is anonymous, show login button -->
                        <form class="navbar-form navbar-right" th:unless="${#httpServletRequest.getServletPath().contains('/login')}" th:action="@{/login}" method="get">
                            <button class="btn btn-md btn-success btn-block" name="registration"
                                    type="Submit">Login</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>