body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

button {
    cursor: pointer;
}

/*.playerList .row {*/
    /*padding-bottom: 6px;*/
    /*margin-bottom: 6px;*/
/*}*/

/* Boostrap Overrides */
.card {
    width: 700px;
}

img.card-img-top {
    max-width: 700px;
}

.carousel.slide {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control {
    margin-bottom: 140px;
}

.carousel-indicators {
    bottom: 170px;
}

/* Utilities */
.hide {
    display: none;
}