body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

button {
    cursor: pointer;
}

/* Boostrap Overrides */
img.card-img-top {
    max-width: 1200px;
}

.carousel-control {
    margin-bottom: 140px;
}

.carousel-indicators {
    bottom: 170px;
}

/* Utilities */
.hide {
    display: none;
}