<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<th:block th:replace="fragments/header :: header">Header</th:block>
<div class="container">
    <div>
        <h2 th:text="${league.label}"></h2>
        <div class="d-flex flex-row align-items-stretch">
            <div class="p-2 card" style="margin-right:10px; width: 20rem;" th:each="team: ${teamList}">
                <div class="card-block">
                    <h4 class="card-title" >
                        <span th:text="${team.name}">Team Name</span>
                        <i class="demo-icon" th:classappend="|icon-${league.leagueType.label.toLowerCase()}|"></i>
                    </h4>
                    <p>
                        <div th:text="${team.description}">Team Description</div>
                    </p>
                    <a th:href="|/teams/${team.teamId}|" class="btn btn-primary">Team Info</a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer">Footer</th:block>
</body>
</html>
