<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/head :: head"></head>
<body>
<th:block th:replace="fragments/header :: header">Header</th:block>
<div class="container">
    <div>
        <h2>Admin Login</h2>
        <form th:action="@{/login}" method="POST" class="form-signin">
            <div align="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
            </div>

            <div class="form-group">
                <label th:for="email"></label>
                <input type="text" id="email" class="form-control" name="email"  th:placeholder="Email"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label th:for="password"></label>
                <input type="password" class="form-control" th:placeholder="Password"
                       id="password" name="password" class="form-control" />
            </div>

            <hr>
            <div class="btn-toolbar ">
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="fragments/footer :: footer">Footer</th:block>
</body>
</html>
